/*Carousel principal*/
.main .carousel-item{
    min-height: 100vh;
    background-position: center;
    background-size: cover;
    position: relative;
    z-index: 1;
}

.main .carousel-item::before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

/*CAROUSEL DE SABORES*/
.sabores .carousel-item{
    height: 33rem;
    background-position: center;
    background-size: cover;
    position: relative;
    z-index: 1;
    border-radius: 10px;
}

.sabores .carousel-item::before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.sabores p{
    padding-left: 20px;
    padding-right: 20px;
}