/* Colores de Fondo */
.b-color-1{background: #E8D3C6;}
.b-color-2{background: #F4D8B2;}
.b-color-3{background: #A46764;}
.b-color-4{background: #E8E2E0;}
.b-color-5{background: #B3B289;}
.b-color-6{background: #D4C3B3;}
.b-color-7{background: #FDEFFB;}
.b-color-8{background: #FFF9F7;}
.b-color-9{background: #CAAA91;}
.b-color-10{background: #E3C4AB;}
.b-color-11{background: #E1D3C6;}
.b-color-12{background: #FFF6EF;}
.b-color-13{background: #B0947E;}
/* Colores de Texto*/
.t-color-1{color: #E8D3C6;}
.t-color-2{color: #F4D8B2;}
.t-color-3{color: #A46764;}
.t-color-4{color: #E8E2E0;}
.t-color-5{color: #B3B289;}
.t-color-6{color: #D4C3B3;}
.t-color-7{color: #FDEFFB;}
.t-color-8{color: #FFF9F7;}
.t-color-9{color: #CAAA91;}
.t-color-10{color: #E3C4AB;}
.t-color-11{color: #E1D3C6;}
.t-color-12{color: #FFF6EF;}

/* Paleta de colores Cerrito - texto */
.tc-color-1{color: #3C5A1A;}
.tc-color-2{color: #6CA000;}
.tc-color-3{color: #A4CA15;}
.tc-color-4{color: #B5A037;}
.tc-color-5{color: #E0CB60;}
.tc-color-6{color: #EEF082;}

/*Background colors*/

/*Ofrenda colors*/
.b-ofrenda-1{background: #EDDACB;}
.b-ofrenda-2{background: #E9C080;}
.b-ofrenda-3{background: #DF9B5E;}
.b-ofrenda-4{background: #FD9536;}
.b-ofrenda-5{background: #E06718;}
.b-ofrenda-6{background: #B33701;}
/*Lavanda colors*/
.b-lavanda-1{background: #DECAD3;}
.b-lavanda-2{background: #D6B8D0;}
.b-lavanda-3{background: #8F5D7A;}
.b-lavanda-4{background: #985B96;}
.b-lavanda-5{background: #825183;}
.b-lavanda-6{background: #583450;}
/*Remedio colors*/
.b-remedio-1{background: #DB6A66;}
.b-remedio-2{background: #BA5441;}
.b-remedio-3{background: #A2072F;}
.b-remedio-4{background: #8F242E;}
.b-remedio-5{background: #5E030A;}
.b-remedio-6{background: #3A090D;}
/*Cerrito colors*/
.b-cerrito-1{background: #EEF082;}
.b-cerrito-2{background: #DFCC60;}
.b-cerrito-3{background: #B5A037;}
.b-cerrito-4{background: #A4CA15;}
.b-cerrito-5{background: #6AA100;}
.b-cerrito-6{background: #3C5A1A;}
/*Atole colors*/
.b-atole-1{background: #F3EAE5;}
.b-atole-2{background: #FED0A4;}
.b-atole-3{background: #F89E93;}
.b-atole-4{background: #8F242E;}
.b-atole-5{background: #5E010B;}
.b-atole-6{background: #3A090D;}
/*Bugambilia colors*/
.b-bugambilia-1{background: #ECD1E4;}
.b-bugambilia-2{background: #D5A7CC;}
.b-bugambilia-3{background: #CC69A2;}
.b-bugambilia-4{background: #D058C2;}
.b-bugambilia-5{background: #D4169D;}
.b-bugambilia-6{background: #8E1349;}
/**/