/* Colores de Fondo */
.b-color-1{background: #E8D3C6;}
.b-color-2{background: #F4D8B2;}
.b-color-3{background: #A46764;}
.b-color-4{background: #E8E2E0;}
.b-color-5{background: #B3B289;}
.b-color-6{background: #D4C3B3;}
.b-color-7{background: #FDEFFB;}
.b-color-8{background: #FFF9F7;}
.b-color-9{background: #CAAA91;}
.b-color-10{background: #E3C4AB;}
.b-color-11{background: #E1D3C6;}
.b-color-12{background: #FFF6EF;}
.b-color-13{background: #B0947E;}
/* Colores de Texto*/
.t-color-1{color: #E8D3C6;}
.t-color-2{color: #F4D8B2;}
.t-color-3{color: #A46764;}
.t-color-4{color: #E8E2E0;}
.t-color-5{color: #B3B289;}
.t-color-6{color: #D4C3B3;}
.t-color-7{color: #FDEFFB;}
.t-color-8{color: #FFF9F7;}
.t-color-9{color: #CAAA91;}
.t-color-10{color: #E3C4AB;}
.t-color-11{color: #E1D3C6;}
.t-color-12{color: #FFF6EF;}

/* Paleta de colores Cerrito - texto */
.tc-color-1{color: #3C5A1A;}
.tc-color-2{color: #6CA000;}
.tc-color-3{color: #A4CA15;}
.tc-color-4{color: #B5A037;}
.tc-color-5{color: #E0CB60;}
.tc-color-6{color: #EEF082;}